
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";



body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

li {
  padding: 5px;
  color: aliceblue;
}

footer {
  color: aliceblue;
}


.wave-divider {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  border: none;
}

.wave-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
  border: none;
}

@media (min-width: 768px) {
  .wave-divider svg {
    height: 150px;
  }
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-list > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slick-list > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
  }

  @media (max-width: 900px) {
    .slick-list > div {
        gap:40px;
    }
  }

  @media (max-width: 1280px) {
    .slick-list > div {
        gap: 40px;
    }
  }


  .slick-track > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  


.quicksand {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
  }

.bg {
    background-image: url('./img/creative-Agency-small.png'); 
    background-size: cover;
    background-repeat:no-repeat;
}

.bg1 {
    background-image: url('./img/h3mbbg.png'); 
    background-size: cover;
    background-repeat: no-repeat;
}



@media (max-width: 640px) {
    .bg1 {
        background-size: cover;
        background-position-x: top;
        background-position-y: bottom;
        
    }
  }

font {
    font-family: quicksand, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    padding-right: 40px;
    padding-left: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


@media (max-width: 600) {
    .container {
        padding-right: 10px;
        padding-left: 10px;
    }
  }

 
.shapedividers_com-8832{
  overflow:hidden;
  position:relative;
  }
  .shapedividers_com-8832::before{ 
  content:'';
  font-family:'shape divider from ShapeDividers.com';
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw; 
  background-size: 100% 110px;
  background-position: 50% 0%; 
  transform: rotateY(180deg); background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" fill="%23f5fdff"/></svg>'); 
  }
  
  @media (min-width:2100px){
  .shapedividers_com-8832::before{
  background-size: 100% calc(2vw + 110px);
  }
  }
   
     
     
     
     
   